{{#section 'head'}}
<style>
html {
    font-family: Arial, sans-serif;
}
svg * {
  transition: transform 0.8s cubic-bezier(0.47, 0, 0.745, 0.715);
}
svg rect {
  transition:
    transform 0.8s cubic-bezier(0.47, 0, 0.745, 0.715),
    width 0.8s cubic-bezier(0.47, 0, 0.745, 0.715),
    height 0.8s cubic-bezier(0.47, 0, 0.745, 0.715);
}
</style>
{{/section}}

<h1>Chestnut</h1>

<svg width="1280" height="1920"></svg>

<script src="/static/hsluv-0.0.3.min.js"></script>
<script type="text/javascript">
  const xmlns = "http://www.w3.org/2000/svg";
</script>
<script src="/static/json.js"></script>

<script src="/static/util.js"></script>
<script src="/static/colors.js"></script>
{{!-- <script src="/static/layout.js"></script>
<script src="/static/model.js"></script> --}}
<script src="/static/visualize.js"></script>
<script src="/static/model2.js"></script>
{{!-- <script type="text/javascript">
  main();
</script> --}}
<script type="text/javascript">
  main();
</script>
